@{
    ViewData["Title"] = "O teamie";
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container py-3">
    <div class="row mb-4">
        <div class="col">
            <h2 class="display-4 font-weight-light">Team C_BooL</h2>
            <p class="font-italic text-muted">Cebulki to my!</p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="/img/maciej.jfif" alt="" width="500" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h4 class="mb-0">Maciej Walas</h4><span class="small text-uppercase text-muted">Człowiek Widok</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://github.com/maciej-walas" class="social-link"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/maciej-walas/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="col mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="/img/andrzej.jfif" alt="" width="500" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h4 class="mb-0">Andrzej Palica</h4><span class="small text-uppercase text-muted">Człowiek Refaktor</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://github.com/andrzejpalica" class="social-link"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/andrzej-palica/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="col mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="/img/natalia.jfif" alt="" width="500" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h4 class="mb-0">Natalia Kulik</h4><span class="small text-uppercase text-muted">Nadczłowiek</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://github.com/NataliaKulik" class="social-link"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/natalia-kulik-47b488104/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>