@model IEnumerable<C_bool.BLL.Models.Places.Place>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row">
    <button id="locationButton" type="button" class="btn btn-default" onclick="getLocation()">Use Actual Location</button>
</div>