@using C_bool.WebApp.Config
@using Microsoft.Extensions.Options
@model C_bool.WebApp.Models.NearbySearchRequest
@inject IOptionsSnapshot<AppSettings> _appSettings;

@{
    ViewData["Title"] = "SearchNearby";
}

<h1>Szukaj nowych miejsc</h1>

<h4>Wpentityadź lokalizację wokół której chcesz szukać nowych miejsc</h4>
<h4>@ViewBag.Message</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        <button id="locationButton" type="button" class="btn btn-primary" onclick="getLocation();">Odśwież lokalizację</button>
        <form asp-action="SearchNearby">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input id="latitudeForm" asp-for="Latitude" class="form-control" onChange="initMap();" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input id="longitudeForm" asp-for="Longitude" class="form-control" onchange="initMap();" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Radius" class="control-label"></label>
                <input id="radiusForm" asp-for="Radius" class="form-control" />
                <span asp-validation-for="Radius" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Keyword" class="control-label"></label>
                <input asp-for="Keyword" class="form-control" />
                <span asp-validation-for="Keyword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Kategoria</label>
                <select asp-for="SelectedType" asp-items="Model.ListItems" class="form-control">
                    <option selected="selected" value="">Brak kategorii</option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Szukaj miejsc" class="btn btn-primary btn-lg" />
            </div>
        </form>
    </div>
    <div class="col">
        <div id="map" style="background-color: gainsboro; width: 100%; height: 80vh"></div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@_appSettings.Value.GoogleAPIKey"></script>
    <script>
        var latitude, longitude;
        getLocation();

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(useLocation);
            } else {
                alert("Nie udało się pobrać lokalizacji, upewnij się, że zezwoliłeś na dostęp do lokalziacji");
            }
        };

        function useLocation(position) {
            latitude = position.coords.latitude;
            longitude = position.coords.longitude;

            document.getElementById('latitudeForm').value = latitude;
            document.getElementById('longitudeForm').value = longitude;
            initMap();
        };
        window.onload = getLocation();
    </script>

    <script>

        var myLatlng;

        function initMap() {
            var latitude, longitude;
            latitude = parseFloat(document.getElementById('latitudeForm').value);
            longitude = parseFloat(document.getElementById('longitudeForm').value);


            myLatlng = { lat: latitude, lng: longitude };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 12,
                center: myLatlng,
            });
            // Create the initial InfoWindow.
            let infoWindow = new google.maps.InfoWindow({
                content: "Kliknij na mapę aby wybrać położenie",
                position: myLatlng,
            });

            infoWindow.open(map);
            // Configure the click listener.
            map.addListener("click", (mapsMouseEvent) => {
                // Close the current InfoWindow.
                infoWindow.close();
                radiusCircle.setMap(null);
                myLatlng = { lat: mapsMouseEvent.latLng.lat(), lng: mapsMouseEvent.latLng.lng() };

                radiusCircle.setOptions({
                    map,
                    center: myLatlng,
                    radius: parseInt(document.getElementById('radiusForm').value),
                });

                document.getElementById('latitudeForm').value = radiusCircle.center.lat();
                document.getElementById('longitudeForm').value = radiusCircle.center.lng();
            });

            const radiusCircle = new google.maps.Circle();
            radiusCircle.setOptions({
                strokeColor: "#FF0000",
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: "#FF0000",
                fillOpacity: 0.35,
                map,
                center: myLatlng,
                radius: parseInt(document.getElementById('radiusForm').value),
                editable: true,
                draggable: true
            });

            var maxRadius = 50000;

            google.maps.event.addListener(radiusCircle, 'radius_changed', function () {
                if (radiusCircle.getRadius() > maxRadius) {
                    radiusCircle.setRadius(maxRadius);
                }

                document.getElementById('radiusForm').value = radiusCircle.getRadius();
            });
            google.maps.event.addListener(radiusCircle, 'center_changed', function () {
                document.getElementById('latitudeForm').value = radiusCircle.center.lat();
                document.getElementById('longitudeForm').value = radiusCircle.center.lng();
            });
        }



        window.addEventListener("load", initMap);
    </script>
}