/*cebulowe itemsy*/

.cebool-list-main-screen:hover {
    background-color: #f7f7f7;
}

.cebool-login-bg {
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}

.bg--c-green {
    background-color: #10b981;
}


.f-left {
    float: left;
}

.f-right {
    float: right;
}

/*handle validation errors input bootstrap alert class*/
.validation-summary {
    display: none;
}

.validation-summary.validation-summary-errors {
    display: block;
}

.cb-alert {
    font-size: small;
    font-weight: bold
}

/*Fav button colors*/
.btn-fav {
    background-color: #e16c82;
    color: white;
    border-color: #e16c82
}

/*Participate view step-by-step layout*/
:root {
    --prm-color: #0381ff;
    --prm-gray: #e7e7e7;
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}

.step-button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: none;
    background-color: var(--prm-gray);
    transition: .4s;
    font-size: xx-large;
    font-weight: bolder;
}

.step-button[aria-expanded="true"] {
    width: 90px;
    height: 90px;
    background-color: var(--prm-color);
    color: #fff;
}

.done {
    background-color: var(--prm-color);
    color: #fff;
}

.step-item {
    z-index: 10;
    text-align: center;
    font-size: large;
}

#progress {
    -webkit-appearance: none;
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 15px;
    margin-left: 18px;
    margin-bottom: 18px;
}

/* to customize progress bar */
#progress::-webkit-progress-value {
    background-color: var(--prm-color);
    transition: .5s ease;
}

#progress::-webkit-progress-bar {
    background-color: var(--prm-gray);
}
