@model C_bool.BLL.DAL.Entities.GameTask

@{
    ViewData["Title"] = "Utwórz nowe zadanie";
}

<form enctype="multipart/form-data" asp-action="Create">
    <div class="row">
        <div class="col-12">
            <!-- Tab -->
            <div class="row">
                <div class="col-sm">
                    <h1>Dodaj nowe zadanie</h1>
                    <h4>Kroi się coś ciekawego?</h4>
                </div>
                <div class="col-sm">
                    <div class="nav-wrapper position-relative float-end">
                        <ul class="nav nav-pills nav-pills nav-pill-circle mb-3" id="tab-34" role="tablist">
                            <li class="nav-item me-3 me-md-0">
                                <a class="nav-link text-sm-center active" aria-label="second navigation tab" id="tab-create-data" data-bs-toggle="tab" href="#create-data" role="tab" aria-controls="create-data" aria-selected="false">
                                    <span class="nav-link-icon d-block">
                                        <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item me-3 me-md-0">
                                <a class="nav-link text-sm-center" aria-label="third navigation tab" id="tab-create-description" data-bs-toggle="tab" href="#create-description" role="tab" aria-controls="create-description" aria-selected="false">
                                    <span class="nav-link-icon d-block">
                                        <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd"></path></svg>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item me-3 me-md-0">
                                <a class="nav-link text-sm-center" aria-label="third navigation tab" id="tab-create-afterdonemessage" data-bs-toggle="tab" href="#create-afterdonemessage" role="tab" aria-controls="create-afterdonemessage" aria-selected="false">
                                    <span class="nav-link-icon d-block">
                                        <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd"></path></svg>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item me-3 me-md-0 align-items-center">
                                <div class="form-group">
                                    <input type="submit" value="Utwórz nowe zadanie" class="btn btn-danger btn-lg d-block" style="margin-top: 15px;" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End of Tab Nav -->
            <!-- Tab Content -->
            <div>
                <div class="card-body p-0">
                    <div class="tab-content" id="tabcontentexample-5" style="height: calc(100vh - 210px);">
                        <div class="tab-pane fade show active" id="create-data" role="tabpanel" aria-labelledby="tab-link-example-14">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <br />
                            <!--Upload zdjęcia -->
                            <div class="form-group">
                                <label for="photo" class="control-label">Wybierz zdjęcie zadania</label>
                                <div class="alert alert-info d-flex align-items-center" role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                                    <div>
                                        Dopuszczalalne formaty: <b>.jpg</b> lub <b>.png</b> o maksymalnej wielkości <b>2Mb</b>
                                    </div>
                                </div>
                                <input id="photo" class="form-control" name="file" type="file" accept="image/png, image/jpeg" />
                            </div>
                            <div class="form-group">
                                <label asp-for="ShortDescription" class="control-label"></label>
                                <textarea asp-for="ShortDescription" class="form-control" style="height: 200px"></textarea>
                                <span asp-validation-for="ShortDescription" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Points" class="control-label"></label>
                                <input asp-for="Points" class="form-control" />
                                <span asp-validation-for="Points" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ValidFrom" class="control-label"></label>
                                <input asp-for="ValidFrom" class="form-control" />
                                <span asp-validation-for="ValidFrom" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ValidThru" class="control-label"></label>
                                <input asp-for="ValidThru" class="form-control" />
                                <span asp-validation-for="ValidThru" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                </label>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="create-description" role="tabpanel" aria-labelledby="tab-link-example-15">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8">
                                        <label asp-for="Description" class="control-label"></label>
                                        <textarea id="description" asp-for="Description" class="form-control">Welcome to TinyMCE!</textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="create-afterdonemessage" role="tabpanel" aria-labelledby="tab-link-example-15">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8">
                                        <label asp-for="AfterDoneMessage" class="control-label"></label>
                                        <textarea id="afterdonemessage" asp-for="AfterDoneMessage" class="form-control">Welcome to TinyMCE!</textarea>
                                        <span asp-validation-for="AfterDoneMessage" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Tab -->
        </div>
    </div>


</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        tinymce.init({
            selector: '#description, #afterdonemessage',
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | outdent indent | image',
            language: 'pl',
            height: 600
        });
        tinymce.init({
            selector: '#short-description',
            plugins: [
                'advlist autolink lists preview anchor',
                'searchreplace visualblocks code fullscreen',
                'wordcount'
            ],
            toolbar: 'undo redo | bold italic ',
            language: 'pl',
            height: 300
        });
    </script>
}
