@using C_bool.WebApp.Config
@using Microsoft.Extensions.Options
@using System.Text.Json
@model List<PlaceViewModel>
@inject IOptionsSnapshot<AppSettings> appSettings;

<div id="dvMap" style="width: 100%; height: 80vh"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@appSettings.Value.GoogleAPIKey"></script>
<script type="text/javascript">
    var markers = JSON.parse('@Html.Raw(JsonSerializer.Serialize(Model))');
        function initMarkersMap() {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].Geometry.Location.Latitude, markers[0].Geometry.Location.Longitude),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapId: 'c67cdd640e77cc91'
            };
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            for (i = 0; i < markers.length; i++) {
                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.Geometry.Location.Latitude, data.Geometry.Location.Longitude);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.Name,
                    icon: "/img/onion.png"
                });
                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.Address);
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
    }
    window.onload = initMarkersMap();
</script>
<script>
    function initMap(latitude, longitude) {
        const point = { lat: latitude, lng: longitude };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 16,
            center: point,
            mapId: 'c67cdd640e77cc91'
        });
        const marker = new google.maps.Marker({
            position: point,
            map: map,
            icon: "/img/onion.png"
        });
    }
</script>
