@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zapomniało się hasła?";
}

<section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 d-flex align-items-center justify-content-center">
                <img src="/img/logo-full.png" width="600" alt="Cebulowe logo">
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h3">Podaj swojego maila</h1>
                    </div>
                    <p>Spróbujemy odzyskać twoje bezcenne punkty</p>
                    <form method="post">
                        <!-- Form -->
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group mb-4">
                            <label for="email">Twój Email</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                </span>
                                <input asp-for="Input.Email" type="email" class="form-control" id="email" autofocus required>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Przywróć konto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
