@using C_bool.WebApp.Models.Place
@model C_bool.WebApp.Models.GameTask.GameTaskParticipateModel

@{
    var place = (List<PlaceViewModel>)ViewData["places"];
}

<div class="card bg-google-100 border-0 shadow">
    <div class="card-header d-sm-flex flex-row align-items-center flex-0">
        <div class="d-block mb-3 mb-sm-0">
            <div class="fs-5 fw-normal mb-2">Sprawdź swoją lokalizację</div>

        </div>
        <div class="d-flex ms-auto">
            @*<button class="btn btn-primary btn me-2" onclick="BindPartialView">Odśwież lokalizację</button>*@
        </div>
    </div>
    <div class="card-body p-2">
        <!--Map view component-->
        <div style="width: 100%; height: 45vh;">
            @await Component.InvokeAsync("MapView", new { placesList = place, range = 100.00 })
        </div>
    </div>
</div>