@using Microsoft.AspNetCore.Html
@using Newtonsoft.Json
@model C_bool.BLL.Models.Reports.ActiveUsersCount
@{
    var labels = new HtmlString(JsonConvert.SerializeObject(Model.ActiveCount));

    var data = new HtmlString(JsonConvert.SerializeObject(Model.TotalCount));
}

<div class="col">
    <div class="card border-0 shadow">
        <div class="card-header d-flex flex-row align-items-center flex-0 border-bottom">
            <div class="d-block">
                <div class="h6 fw-normal text-gray mb-2">Liczba aktywnych użytkowników</div>
            </div>
        </div>
        <div class="d-block ms-auto">
        </div>
        <div class="card-body p-2">
            <div>
                <canvas id="activeUsers"></canvas>
            </div>

        </div>


        <script>
            const labels = @Model.ActiveCount;

            const data = {
                labels: labels,
                datasets: [{
                    label: 'My First dataset',
                    data: @Model.TotalCount,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ],

                }]
            };

            const config = {
                type: 'pie',
                data: data,
                options: {}
            };
        </script>

        <script>
            const myChart = new Chart(
                document.getElementById('activeUsers'),
                config
            );
        </script>
    </div>
</div>