@using Microsoft.AspNetCore.Html
@using Newtonsoft.Json
@model List<C_bool.BLL.Models.Reports.PlaceByGameTasksClassification>

@{
    var placeName = new HtmlString(JsonConvert.SerializeObject(Model.Select(x => x.PlaceName)));

    var gameTaskCount = new HtmlString(JsonConvert.SerializeObject(Model.Select(x => x.GameTaskCount)));
   
}

<div class="col">
    <div class="card border-0 shadow">
        <div class="card-header d-flex flex-row align-items-center flex-0 border-bottom">
            <div class="d-block">
                <div class="h6 fw-normal text-gray mb-2">Popularne miejsca z ilością zadań</div>
            </div>
        </div>
        <div class="d-block ms-auto">
        </div>
        <div class="card-body p-2">
            <div>
                <canvas id="placeGameTaskClassificationCount"></canvas>
            </div>

        </div>


        <script>
            const placeName = @Html.Raw(placeName);

            const dataPlaceCount = {
                labels: placeName,
                datasets: [{
                    label: 'Popularne miejsca z ilością zadań',
                    data: @Html.Raw(gameTaskCount),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ],

                }]
            };

            const configPlaceGameTaskCount = {
                type: 'bar',
                data: dataPlaceCount,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            };
        </script>

        <script>
            const placeGameTaskCountChar = new Chart(
                document.getElementById('placeGameTaskClassificationCount'),
                configPlaceGameTaskCount
            );
        </script>
    </div>
</div>