@using Microsoft.AspNetCore.Html
@using Newtonsoft.Json
@model List<C_bool.BLL.Models.Reports.UserGameTaskByUsersClassification>

@{
    var gameTaskNameLabels = new HtmlString(JsonConvert.SerializeObject(Model.Select(x => x.GameTaskName)));

    var userCount = new HtmlString(JsonConvert.SerializeObject(Model.Select(x => x.UsersCount)));

}

<div class="col">
    <div class="card border-0 shadow">
        <div class="card-header d-flex flex-row align-items-center flex-0 border-bottom">
            <div class="d-block">
                <div class="h6 fw-normal text-gray mb-2">liczba zadań utowrzonych przez użytkownika</div>
            </div>
        </div>
        <div class="d-block ms-auto">
        </div>
        <div class="card-body p-2">
            <div>
                <canvas id="userGameTaskByUserClassification"></canvas>
            </div>

        </div>


        <script>
            const gameTaskNameLabels = @Html.Raw(gameTaskNameLabels);

            const dataUserCount = {
                labels: gameTaskNameLabels,
                datasets: [{
                    label: '',
                    data: @Html.Raw(userCount),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ],

                }]
            };

            const configUserClassification = {
                type: 'bar',
                data: dataUserCount,
                options: {
                    plugins:{
                        legend: {
                            display: false
                        }
                    }}
            };
        </script>

        <script>
            const userGameTaskByUserClassificationChar = new Chart(
                document.getElementById('userGameTaskByUserClassification'),
                configUserClassification
            );
        </script>
    </div>
</div>
