@using System.ComponentModel
@model IEnumerable<C_bool.BLL.DTOs.GameTaskReportPopularTaskDto>

@{
    ViewData["Title"] = "Lista najpopularniejszych zadań";
}

<h1>Lista użytkowników</h1>
<br />
<form asp-action="TheMostPopularTaskType">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label small">Nazwa:</label>
                <input class="form-control small" type="text" name="name" placeholder="Wpisz" />
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label small">Email:</label>
                <input class="form-control small" type="text" name="email" placeholder="Wpisz" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <div class="form-group ">
                <input type="submit" value="Szukaj" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<br />
<br />
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label asp-for="First().GameTaskType">Kategoria zadania</label>
                </th>
                <th>
                    <label asp-for="First().CreatedOn">Data utworzenia</label>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.GameTaskType
                    </td>
                    <td>
                        @item.CreatedOn
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function changeUserStatus(controller, view, input) {
        var postData = { id: input };

        $.ajax(
            {
                type: "GET",
                url: '/' + controller + '/' + view + '/' + input,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(postData),
                success: function (data) {
                    showNotif('green', 'OK');
                },

                error: function (xmlhttprequest, textstatus, errorthrown) {
                    //alert(" conection to the server failed ");
                    showNotif('red', errorthrown);
                }
            });
    };
</script>
