@model C_bool.BLL.DAL.Entities.Message

<div class="card mb-4 shadow">
    <div class="card-header bg-gray-200 border-bottom">
        <div class="d-flex align-items-center me-5">
            <div class="icon-shape icon-md icon-shape-info rounded me-3">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
            </div>
            <div class="d-block">
                <h1 class="mb-0">@Model.Title</h1>
                <p class="mb-0">Od: <b>@Model.CreatedByName</b></p>
            </div>
            <div class="col text-end">
                <div>
                    <a asp-action="Index"
                       class="btn btn-lg btn-primary d-inline-flex align-items-center mb-3 mb-md-0">
                        <span class="fa fa-chevron-left"></span> Wróć do powiadomień
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div>
            <div>@Html.Raw(Model.Body)</div>
        </div>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>
