@*Partial used to show Validation summary error in Bootstrap "alert" class*@

<div asp-validation-summary="All" class="validation-summary alert alert-danger fade show" role="alert">
    <h4>Something Is No Yes! &#128565;</h4>
</div>